@using Microsoft.AspNetCore.Components.Web
@using Superset.Web.State
@using Infrastructure.Controller

@page "/generate"

<div class="Generate_GenerateContainer">
    <h2>Blacklist and OUI list generation</h2>

    <div class="VerticallyCenteredContainer">
        <h3>Blacklist rules</h3>
        <a href="/configure" class="SS_Button">EDIT SOURCES</a>
    </div>

    <table class="GenStats">
        <tr>
            <TriggerWrapper Trigger="@_ruleGenProgressTrigger">
                <td>Number of blacklist rules</td>
                <td>@_blacklistRuleCount.ToString("n0")</td>
            </TriggerWrapper>
        </tr>

        <tr>
            <td>
                Blacklist rule sources
            </td>
            <td>
                @if (_blacklistRuleSources != null)
                {
                    @foreach (string source in _blacklistRuleSources)
                    {
                        <a href="@source" target="_blank">@source</a>
                    }
                }
                else
                {
                    <span>Failed to read config</span>
                }
            </td>
        </tr>
    </table>

    <br>

    <TriggerWrapper Trigger="@_ruleGenProgressTrigger">
        <div class="GeneratingRulesNoticeContainer">

            <button @onclick="@GenRules" disabled="@(!AllowGenRule())" class="SS_Button SS_Button--Blue">GENERATE RULES</button>
            @if (!Common.ContraCoreClient.Connected)
            {
                <div class="SS_XMark"></div>
                <span>ContraCore is disconnected</span>
            }
            else if (Common.ContraCoreClient.GeneratingRules)
            {
                <div class="Spinner"></div>
                <span>Generating rules...</span>
            }
        </div>
    </TriggerWrapper>

    <div class="ProgressContainer">
        <TriggerWrapper Trigger="@_ruleGenProgressTrigger">
            @for (var i = 0; i < _ruleGenProgress.Count; i++)
            {
                <span @key="@($"Generate_ProgressLine_{i}")">@_ruleGenProgress[i]</span>
            }
        </TriggerWrapper>
    </div>
    
    <br>
    <br>
    <div class="DividerLine"></div>
    <br>

    <h3>OUI list</h3>

    <table class="GenStats">
        <tr>
            <TriggerWrapper Trigger="@_ruleGenProgressTrigger">
                <td>Number of OUI entries</td>
                <td>@_ouiCount.ToString("n0")</td>
            </TriggerWrapper>
        </tr>
    </table>

    <br>

    <TriggerWrapper Trigger="@_ouiGenProgressTrigger">
        <div class="GeneratingOUINoticeContainer">

            <button @onclick="@GenOUI" disabled="@(!AllowGenOUI())" class="SS_Button SS_Button--Blue">GENERATE OUI LIST</button>
            @if (!Common.ContraCoreClient.Connected)
            {
                <div class="SS_XMark"></div>
                <span>ContraCore is disconnected</span>
            }
            else if (Common.ContraCoreClient.GeneratingOUI)
            {
                <div class="Spinner"></div>
                <span>Generating OUI table...</span>
            }
        </div>
    </TriggerWrapper>

    <div class="ProgressContainer">
        <TriggerWrapper Trigger="@_ouiGenProgressTrigger">
            @for (var i = 0; i < _ouiGenProgress.Count; i++)
            {
                <span @key="@($"Generate_ProgressLine_{i}")">@_ouiGenProgress[i]</span>
            }
        </TriggerWrapper>
    </div>
</div>