@using Microsoft.AspNetCore.Components.Web
@using Superset.Web.State
@using Infrastructure.Controller

@page "/generate"

<div class="RuleGen_RuleGenContainer">
    <h3>Rule stats</h3>
    <table class="RuleStats">
        <tr>
            <TriggerWrapper Trigger="@_progressUpdated">
                <td>Number of blacklist rules</td>
                <td>@_blacklistRuleCount.ToString("n0")</td>
            </TriggerWrapper>
        </tr>

        <tr>
            <td>
                Blacklist rule sources
            </td>
            <td>
                @if (_blacklistRuleSources != null)
                {
                    @foreach (string source in _blacklistRuleSources)
                    {
                        <a href="@source" target="_blank">@source</a>
                    }
                }
                else
                {
                    <span>Failed to read config</span>
                }
            </td>
            <td>
                <a href="/configure" class="SS_Button">EDIT</a>
            </td>
        </tr>
    </table>

    <br>

    <TriggerWrapper Trigger="@_progressUpdated">
        <div class="GeneratingRulesNoticeContainer">

            <button @onclick="@GenRules" disabled="@DisableRuleGenButton()" class="SS_Button SS_Button--Blue">GENERATE RULES</button>
            @if (!Common.ContraCoreClient.Connected)
            {
                <span>ContraCore is disconnected</span>
            }
            else if (Common.ContraCoreClient.GeneratingRules)
            {
                <div class="Spinner"></div>
                <span>Generating rules...</span>
            }
        </div>
    </TriggerWrapper>

    <div class="ProgressContainer">
        <TriggerWrapper Trigger="@_progressUpdated">
            @for (var i = 0; i < _progress.Count; i++)
            {
                <span @key="@($"RuleGen_ProgressLine_{i}")">@_progress[i]</span>
            }
        </TriggerWrapper>
    </div>
</div>