@using Superset.Web.Resources
@using Superset.Web.State
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider ContraWebAuthStateProvider
@inject ILocalStorageService LocalStorage

@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

@ResourceManifest.RenderScripts(new Configuration().ResourceManifests)

@if (_themeLoader!.Complete)
{
@*     <TriggerWrapper Trigger="@_onAuthChange"> *@
        @_themeLoader.RenderLink()
    
        <TriggerWrapper Trigger="@_updateHeader" Protected="true">
            @Header().Render()
        </TriggerWrapper>
    
        <CascadingValue Value="@ClientIP" IsFixed="true">
            @Body
        </CascadingValue>
    // </TriggerWrapper>

@*     <AuthorizeView> *@
@*         <Authorized> *@
@*             <div style="margin: 9px;">User: @context.User.Identity.Name</div> *@
@*         </Authorized> *@
@*         <NotAuthorized> *@
@*             <Login/> *@
@* *@
@*             <h1>Authentication Failure!</h1> *@
@*             <p>You're not signed in.</p> *@
@*         </NotAuthorized> *@
@*         <Authorizing> *@
@*             <h1>Authorizing</h1> *@
@*         </Authorizing> *@
@*     </AuthorizeView> *@
}

@if (_themeLoader!.Complete)
{
    @_themeLoader.RenderDropdown()
}
