@using Superset.Web.Resources
@using Blazored.LocalStorage

@inject AuthenticationStateProvider ContraWebAuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<style>
    #blazor-error-ui {
    display: none;
    }
</style>

@ResourceManifest.RenderScripts(new Configuration().ResourceManifests)

@if (_themeLoader.Complete)
{
    @_themeLoader.RenderLink()
    
    <TriggerWrapper Trigger="@_updateHeader" Protected="true">
        @Header().Render()
    </TriggerWrapper>
    
    <AuthorizeView>
        <Authorized>
            <h1>Hello, @context.User.Identity.Name!</h1>
            <p>You can only see this content if you're authenticated.</p>
            @Body
        </Authorized>
        <NotAuthorized>
            <Login/>

            <h1>Authentication Failure!</h1>
            <p>You're not signed in.</p>
        </NotAuthorized>
        <Authorizing>
            <h1>Authorizing</h1>
        </Authorizing>
    </AuthorizeView>
}


@if (_themeLoader.Complete)
{
    @_themeLoader.RenderDropdown()
}